docker/node-red/data/.flows.json.backup
[{"id":"936f535a.09e8d","type":"tab","label":"Playground","disabled":false,"info":""},{"id":"f0ad2ed37b478a5e","type":"starwards-in","z":"936f535a.09e8d","name":"","shipId":"GVTS","pattern":"**","x":140,"y":80,"wires":[["ccbf97f997a7b35b"]]},{"id":"f0e400c79616e3e2","type":"debug","z":"936f535a.09e8d","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":80,"wires":[]},{"id":"ccbf97f997a7b35b","type":"delay","z":"936f535a.09e8d","name":"","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":370,"y":80,"wires":[["f0e400c79616e3e2"]]}]