docker/node-red/data/.flows.json.backup
[{"id":"936f535a.09e8d","type":"tab","label":"Playground","disabled":false,"info":""},{"id":"6d10d85987e1d63e","type":"transform-text","z":"936f535a.09e8d","operation":"upper","name":"","x":440,"y":200,"wires":[["a125236826f9740d"]]},{"id":"5184baab12f7a478","type":"inject","z":"936f535a.09e8d","name":"lowercase","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello","payloadType":"str","x":140,"y":160,"wires":[["6d10d85987e1d63e"]]},{"id":"4dff04b82486b5b5","type":"inject","z":"936f535a.09e8d","name":"uppercase","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"HELLO","payloadType":"str","x":140,"y":220,"wires":[["6d10d85987e1d63e"]]},{"id":"a125236826f9740d","type":"debug","z":"936f535a.09e8d","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":200,"wires":[]}]